@media screen and (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Poppins', sans-serif;

    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon-border {
        border: 1px solid #06c167;
        padding: 5px;
    }

    .header-section-bg {
        background-color: #F3FCF7;
        max-height: 1000px;
    }


    .hero-section-top {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-section-left-side {
        align-items: center;
        flex: 2;
        margin-top: 32px;
    }

    .right-side-img .top-img-1 {
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 20px;
    }

    .hero-section-left-side h1 {
        font-size: 51px;
        text-align: center;
        font-weight: 600;
        line-height: 100%;
        color: #1D1D1F;
        padding: 34px;
        margin: 0;
        padding-top: 0;
    }

    .left-Ratings {
        background-color: #fff;
        width: 250px;
        color: #000;
        padding: 15px;
        border-radius: 30px;
        position: absolute;
        top: 381px;
        left: 71px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .right-product {
        display: flex;
        width: 235px;
        padding: 5px;
        background-color: #fff;
        align-items: center;
        border-radius: 30px;
        color: #000;
        position: absolute;
        top: 440px;
        right: 80px;
        z-index: 1;
        box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    }

    .company-brand-logo {
        display: flex;
        margin-top: 80px;
    }

    .hero-section-left-side p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(29, 29, 31, 0.75);
        line-height: 159%;
        text-align: center;
        padding: 0;
    }

    a.boxed-btn {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background: #06C167;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        padding: 24px;
        transition: .5s;
        width: 100%;
        margin-bottom: 50px;
    }

    a.boxed-btn:hover {
        background-color: #00a86b;
        color: #fff;
    }

    .right-side-img .top-img-1 {
        max-width: 90%;
    }


    .brand-logo {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        flex-wrap: wrap;
    }


    .header-section-bg-brand-logo {
        padding-bottom: 20px;
    }

    .info-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }

    .info-section-border:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        content: "";
        background: #707070;
        opacity: .3;
    }

    .info-box {
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .Healthy-Food {
        display: flex;
        padding: 0px 0;
        gap: 35px;
        flex-direction: column;
        align-items: center;
        margin-top: 37px;
    }

    .text-box {
        text-align: center;
        flex: 1;
        color: #1D1D1F;
        position: relative;
    }

    .title {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 45px;
    }


    .Healthy-Food-Efact {
        position: absolute;
        top: 0px;
        left: -45px;
        z-index: -1;
    }

    .Veggie-Food-Goes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 0;
        flex-direction: column-reverse;
    }

    .img-hero-1 {
        display: none;
    }

    .img-hero-2 {
        display: flex;
    }

    .Veggie-Food {
        flex: 1;
        text-align: center;
    }


    .Veggie-Food-title {
        position: relative;
    }

    .Veggie-Food-img {
        position: absolute;
        z-index: -1;
        top: 0px;
        left: -45px;
    }

    .main-heading {
        font-size: 35px;
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 30px;
    }

    .numbers-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        margin-bottom: 35px;
    }

    .item {
        flex: 1 1 280px;
        width: 350px;
        border: 1px solid #2ecc71;
    }


    .content {
        background-color: #F3FCF7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        width: 380px;
        text-align: left;
    }

    .grid {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 24px;
    }

    .grid-item-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-item-lest {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .product-section {
        text-align: center;
        width: 100%;
    }

    .product-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }



    .product-card {
        border: 2px solid #76767540;
        border-radius: 6px;
        padding: 20px;
        width: 90%;
        height: 445px;
        background: #fff;
        transition: .5s;
    }

    .banner-padding {
        padding: 24px 0;
    }


    .banner-content h2 {
        font-size: 35px;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 52px;
    }

    .banner-section-bg-img {
        position: relative;
        z-index: -1;
    }

    .banner-overlay {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .footer-section {
        width: 100%;
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
        padding: 60px 0 40px;
        flex-direction: column;
    }

    .footer-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        text-align: center;
    }

}